<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Web3-transaction</title>
</head>
<body>
<table style=" width: 100%; border: 4px double black;">
    <tr>
        <td style="border: 1px solid black; text-align: center">
            <a href="/registration">Registration</a>
        </td>
    </tr>
</table>

<form action="/transaction" method="POST" accept-charset="UTF-8">

    <p><input type="text" name="senderName" placeholder="SenderName" /> </p>
    <p>  <input type="text" name="senderPass" placeholder="senderPass" > </p>
    <p>  <input type="text" name="count" placeholder="count" > </p>
    <p> <input type="text" name="nameTo" placeholder="nameTp">  </p>
    <p> <input type="submit" value="send"> </p>

</form>

</body>
</html>